body {
    height: 100vh;
    background-image: linear-gradient(to top right, rgb(46, 1, 104),violet);
}

.tasks li i {
    color: #712cf9;
}


.task:hover {
    background-color: #eee !important;
}
.task .arrow-btn {
    cursor: pointer;
    transition: 0.3s;
}

.task .arrow-btn:hover {
    transform: scale(1.5) rotate(360deg);
}

.image-edit {
    position: relative;
}
.image-edit label i {
    position: absolute;
    top:5px;
    right:10px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
    color: #6148c8;

}
.image-edit label i:hover {
    font-size: 24px;
    color: white;
}
.container {
    background-color: white !important;
    padding: 20px;
}
.btn-violet {
    background-image: linear-gradient(to right, #6148c8, #be5bfb);
    color: #fff;
    padding: 0 30px;
    letter-spacing: 0.06em;
}
.btn-violet:hover {
    color: #ccc;

}

#btn-back i {
    font-size:25px;
    font-weight:bold;
    transition: 0.1s;
    display: inline-block;
}

#btn-back:hover > i {
    /* text-shadow: 0 0 10px gray; */
    transform: scale(0.6);
}

.logo i {
    background-image: linear-gradient(to right, #6148c8, #be5bfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
}

.app-name {
    background-image: linear-gradient(to right, #6148c8, #be5bfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family:cursive;
}
.form-login>div {
    position: relative;
}
.form-login>div input {
    padding-left: 34px;
    border-radius: 18px;
}
.form-login>div i {
    position: absolute;
    left:14px;
    top: 7px;
    color: #999;
}

.form-login button {
    border-radius: 18px;
    border: 1px solid #999;
}

.form-login button:nth-of-type(1) {
    background-image: linear-gradient(to right, #6148c8, #be5bfb);
    color: #fff;
}
.form-login button:nth-of-type(1):hover {
    color: #bbb;
}
/* .login {
    position: relative;
}
.login-error {
    position: absolute;
    top:20px;
    left: -10000px;
    transition: 0.5s;
} */


.login, .task-view {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.login .container, .task-view .container {
    border-radius: 5px;
}

.nav {
    margin-top: 20px;
}
.nav .container {
    border-radius: 5px 5px 0 0;
}

.tasks .container {
    border-radius: 0 0 5px 5px;
}